{% extends "core/base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

        <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                <i class="fas i-color fa-search-dollar fa-2x mb-3"></i>
                <h3>SEO</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Soluta autem</p>
            </div>
            <div class="col-sm-4">
                <i class="fas i-color fa-palette fa-2x mb-3"></i>
                <h3>Web Design</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Soluta autem</p>
            </div>
            <div class="col-sm-4">
                <i class="fas i-color fa-code fa-2x mb-3"></i>
                <h3>Web Development</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Soluta autem</p>
            </div>
        </div>

        <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                <i class="fab i-color fa-android fa-2x mb-3"></i>
                <h3>Android</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Soluta autem</p>
            </div>
            <div class="col-sm-4">
                <i class="fab i-color fa-apple fa-2x mb-3"></i>
                <h3>ios</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Soluta autem</p>
            </div>
            <div class="col-sm-4">
                <i class="fas i-color fa-add fa-2x mb-3"></i>
                <h3>Advertising</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Soluta autem</p>
            </div>
        </div>


        <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                <i class="fas i-color fa-pencil-alt fa-2x mb-3"></i>
                <h3>Logo Design</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Soluta autem</p>
            </div>
            <div class="col-sm-4">
                <i class="fas i-color fa-database fa-2x mb-3"></i>
                <h3>Hosting</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Soluta autem</p>
            </div>
            <div class="col-sm-4">
                <i class="fas i-color fa-headset fa-2x mb-3"></i>
                <h3>Support</h3>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Soluta autem</p>
            </div>
        </div>

    </div>
{% endblock content %}