{% extends "core/base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
        <div class="row text-white">
            <div class="col-sm-5">
                <h3 class="mt-5">HTML/CSS</h3>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width:100%" area-valuenow="100" area-valuemin="0" area-valuemax="100">100%</div>
                </div>
            </div>

            <div class="col-sm-5 offset-2">
                <h3 class="mt-5">JavaScript</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" area-valuenow="95" area-valuemin="0" area-valuemax="100">95%</div>
                </div>
            </div>

            <div class="col-sm-5">
                <h3 class="mt-5">Java Programming</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:90%" area-valuenow="90" area-valuemin="0" area-valuemax="100">90%</div>
                </div>
            </div>

            <div class="col-sm-5 offset-2">
                <h3 class="mt-5">Python</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" area-valuenow="95" area-valuemin="0" area-valuemax="100">95%</div>
                </div>
            </div>

            <div class="col-sm-5">
                <h3 class="mt-5">SQL</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" area-valuenow="95" area-valuemin="0" area-valuemax="100">95%</div>
                </div>
            </div>

            <div class="col-sm-5 offset-2">
                <h3 class="mt-5">Django</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%" area-valuenow="80" area-valuemin="0" area-valuemax="100">80%</div>
                </div>
            </div>

            <div class="col-sm-5">
                <h3 class="mt-5">C++</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:40%" area-valuenow="40" area-valuemin="0" area-valuemax="100">40%</div>
                </div>
            </div>

            <div class="col-sm-5 offset-2">
                <h3 class="mt-5">React</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:10%" area-valuenow="10" area-valuemin="0" area-valuemax="100">10%</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}